.info__background {
    @extend %bg-img;
    padding-top: 110px;
    padding-bottom: 116px;
    overflow: hidden;
}

.info__imgs {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 5px;
}

.info__img-2 {
    position: absolute;
    top: 109px;
    left: 246px;
}

.info__content {
    max-width: 482px;
    float: right;
    position: relative;
    transform: translateX(-5px);
}

.info__title {
    padding-bottom: 36.17px;
}

.info__text {
    padding-bottom: 16.59px;
}