.info__background {
    @extend %bg-img;
    padding-top: 110px;
    padding-bottom: 116px;
    overflow: hidden;
}

.info__imgs {
    position: relative;
    display: inline-block;
    width: 59%;

    @include breakpoint (tablet) {
        display: block;
        margin: 0 auto;
        width: 587px;
    }
}

.info__img-2 {
    position: absolute;
    top: 109px;
    left: 246px;
}

.info__content {
    padding-left: 2px;
    max-width: 40%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transform: translateX(3px);

    @include breakpoint (tablet) {
        display: block;
        margin: 0 auto;
        padding-top: 70px;
        float: unset;
    }
}

.info__title {
    padding-bottom: 36.17px;
}

.info__text {
    padding-bottom: 16.59px;
}