.products {
    width: 100%;
}

.products__background {
    @extend %bg-img;
}

.products__background-mask {
    background-color: $bunker-dark;
    padding-top: 99px;
    position: relative;

    @include breakpoint(phone) {
        padding-top: 30px;
    }
}

.products__img-wrap {
    @extend %bg-img;
    width: 278px;
    height: 278px;
    position: relative;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoint(phone) {
        width: 159px;
        height: 139px;
    }
}

.products__img-wrap--large {
    width: 585px;
    height: 585px;

    @include breakpoint(phone) {
        width: 335px;
        height: 335px;
    }
}

.products__price {
    font-family: 'Joane';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 99px;
    padding: 14px 14px 13px 16px;
    background-color: $bunker;
    position: absolute;
    bottom: 0;
    right: 0;
    color: $white;

    @include breakpoint(phone) {
        font-size: 12px;
        line-height: 23px;
        padding: 8.02px 7.53px 7.35px 8.16px;
        width: 56.69px;
    }

}

.products__price--large {
    font-weight: 700;
    font-size: 28px;
    line-height: 68px;
    text-align: center;
    width: 139px;
    height: 94px;

    @include breakpoint(phone) {
        font-size: 18px;
        line-height: 18px;
        padding: 21px 14px 20px 13px;
        width: 87px;
        height: 59px;
    }
}

.products__background-img {
    @extend %bg-img;
    width: 100%;
    height: 100%;
}

.products__col {
    display: flex;
    flex-direction: column;

    @include breakpoint(1209px) {
        flex-direction: row;
    }
}

.products__table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;

    @include breakpoint(1209px) {
        justify-content: space-around;
    }

    @include breakpoint(phone) {
        padding-bottom: 19px;
        width: 335px;
        margin: 0 auto;
    }
}

.products__item {
    display: inline-flex;
    margin-bottom: 30px;

    @include breakpoint(phone) {
        margin-top: 10px;
    }
}

.products__item--large {
    display: block;

    @include breakpoint(phone) {
        margin: 0;
    }
}

.products__text-wrap {
    width: 307px;
    background-color: $old-lace;
    padding: 23px 30px 41px;
    height: 278px;

    @include breakpoint(phone) {
        width: 175px;
        padding: 15px 17px 16px 16px;
        height: 139px;
    }
}

.products__text-wrap--large {
    width: 585px;
    height: unset;
    padding-top: 13px;
    padding-bottom: 36px;

    @include breakpoint(phone) {
        width: 335px;
        padding: 24px 20px;
    }
}

.products__text--small {
    padding-bottom: 23px;

    @include breakpoint(phone) {
        padding-bottom: 10px;
    }
}

.products__main-title {
    display: inline-block;
    margin-bottom: 49px;

    @include breakpoint(phone) {
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}

.products__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    padding-bottom: 4px;
    font-family: 'Joane';

    @include breakpoint(phone) {
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 11px;
    }
}

.products__title--large {
    font-weight: 600;
    font-size: 36px;
    line-height: 87px;
    text-align: center;
    padding-bottom: 12px;

    @include breakpoint(phone) {
        font-size: 24px;
        line-height: 18px;
        text-align: left;
        padding-bottom: 25px;
    }
}

.products__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $bunker-paragraph;

    @include breakpoint(phone) {
        font-size: 10px;
        line-height: 15px;
        text-align: left;
    }
}

.products__text--large {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 23px;

    @include breakpoint(phone) {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
}

.swiper-wrapper {
    @include breakpoint(1209px) {
        width: 585px;
    }
}

.swiper1 {
    overflow: hidden;
}

.products__title-line {
    transform: translateY(-16px);

    @include breakpoint(phone) {
        transform: translateY(-10px);
    }
}