.testimonials {
    position: relative;
}

.testimonials__background {
    @extend %bg-img;
    padding-top: 101px;

    @include breakpoint(phone) {
        padding-top: 30px;
        background-color: $silver;
    }
}

.testimonials__title {
    text-align: center;
    padding-bottom: 62px;
    display: inline-block;
    width: 307px;
    margin: 0 auto;
    position: relative;
    transform: translateX(7px);

    @include breakpoint(phone) {
        width: 220px;
        display: inline-block;
        font-size: 36px;
        line-height: 60px;
        margin: 0 auto;
        padding-bottom: 30px;
        transform: 0;
    }
}

.title-wrap--test {
    width: 555px;
    margin: 0 auto;
    display: block;

    @include breakpoint(phone) {
        width: 335px;
    }
}

.testimonials__content {
    width: 482px;
    position: relative;
    display: inline-block;
    align-self: flex-start;
    padding-top: 82px;

    @include breakpoint (1209px) {
        padding-top: 79px;
        width: 578px;
    }

    @include breakpoint(phone) {
        padding-top: 29px;
    }
}

.testimonilas__content-wrap {
    padding: 0px 204px 158px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;

    @include breakpoint (1209px) {
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        text-align: center;
    }

    @include breakpoint(phone) {
        padding: 0;
    }
}

.testimonials__quotation-mark {
    font-weight: 400;
    font-size: 200px;
    line-height: 200px;
    color: $bunker;
    font-family: 'Joane';
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;

    @include breakpoint(phone) {
        font-size: 100px;
        line-height: 60px;
    }
}

.testimonials__text {
    padding: 16px 0 48px 0;

    @include breakpoint(phone) {
        padding-bottom: 126px;
        padding-top: 16px;
    }
}

.testimonials__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $bunker;
    position: absolute;
    bottom: 0;
    right: 0;

    &::after {
        content: '';
        margin-left: 5px;
        width: 14px;
        height: 14px;
        display: inline-block;
        background-color: $bunker;
    }

    @include breakpoint(1209px) {
        right: 50%;
        transform: translateX(50%);
    }

    @include breakpoint(phone) {
        bottom: 90px;

        &::after {
            display: none;
        }

        &::before {
            content: '';
            margin-right: 5px;
            width: 14px;
            height: 14px;
            display: inline-block;
            background-color: $bunker;
        }
    }
}

.testimonials__profile-pic {
    display: inline-block;
    width: 279px;
    height: 279px;
    filter: drop-shadow(0px 20px 30px $bunker-medium-light);

    @include breakpoint(phone) {
        width: 150px;
        height: 150px;
    }
}

.icon-left {
    position: absolute;
    top: 127.55px;
    left: 138px;
    color: $tacao;
    z-index: 1;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoint(phone) {
        top: 62px;
        left: 0;
    }
}

.icon-right {
    position: absolute;
    top: 127.55px;
    right: 102px;
    color: $tacao;
    z-index: 1;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoint(phone) {
        display: none;
    }
}

.icon-right2 {
    display: none;

    @include breakpoint(phone) {
        display: block;
        position: absolute;
        top: 62px;
        right: 0;
        color: $tacao;
        z-index: 1;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}

.swiper-pagination {
    @include breakpoint(phone) {
        bottom: 50px;
    }
}