.footer {
    position: relative;
    width: 100%;
    background-color: $bunker;
}

.footer__info {
    display: block;
    margin: 0 auto;
    padding-top: 25px;

    @include breakpoint(phone) {
        padding-top: 0;
    }
}

.footer__img-link {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding-top: 8px;

    @include breakpoint(phone) {
        padding-top: 0;
        height: 117px;
    }
}

.footer__img {
    @extend %bg-img;

    &:hover {
        opacity: 0.7;
    }
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $grey;
    text-align: center;
    display: block;
}

.footer__number-link {
    transform: translateY(-10px);
    text-decoration: none;
    z-index: 2;
    width: 130px;
    display: block;
    margin: 0 auto;
}

.footer__number {

    &:hover {
        opacity: 0.7;
    }
}

.footer__location {
    margin-bottom: 40px;

    @include breakpoint(phone) {
        margin-bottom: 25px;
    }
}

.footer__line {
    display: block;
    border: 1px solid $grey-dark;
    width: 100%;
    margin-bottom: 28px;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 44px;
}

.footer__list-item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
}

.footer__margin {
    margin: 0 15px;
}

.footer__margin-left {
    margin-left: 15px;
}

.footer__margin-right {
    margin-right: 15px;
}

.footer__list-link {
    text-decoration: none;
    color: $grey-mid;

    &:hover {
        color: $white;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            border: 1px solid $tacao;
        }
    }
}

.footer__form {
    margin-bottom: 59px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(phone) {
        margin-bottom: 49px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.input {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $white;
    border: 0;
    display: inline-block;
    width: 23.75%;
    height: 50px;
    background-color: $shark;
    padding-left: 14px;
    margin-right: 1.33%;

    &:focus {
        border: 1px solid $old-lace;
        background-color: $cape-cod;
        outline: none;
    }

    @include breakpoint(phone) {
        width: 100%;
        max-width: 400px;
        margin-right: 0;
        margin-bottom: 20px;
        padding-left: 17px;
        padding-top: 5px;
        filter: drop-shadow(0px 4px 4px $shadow) drop-shadow(0px 4px 4px $shadow);
    }
}

.input--long {
    width: 36.17%;
    margin-right: 15px;

    @include breakpoint(phone) {
        width: 100%;
        margin-right: 0;
    }
}

.footer__end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;

    @include breakpoint(phone) {
        padding-bottom: 50px;
    }
}

.footer__end-item {
    color: $grey-mid;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-right: 1px solid $grey-mid;
}

.footer__end-item__link {
    text-decoration: none;
    color: $grey-mid;
}

.footer__end-item--first {
    padding-right: 12px;

    @include breakpoint(phone) {
        border-right: 0;
        padding-right: 0;
    }
}

.footer__end-item--last {
    padding-left: 12px;
    padding-right: 0;
    border-right: 0;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoint(phone) {
        padding-left: 12px;
    }
}

.footer__end-item--middle {
    padding: 0 12px;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoint(phone) {
        padding: 0;
        margin-bottom: 10px;
        padding-right: 12px;
    }
}

.footer__nav {
    @include breakpoint(phone) {
        display: none;
    }
}