.nav {
    transform: translate(-1px, -26px);

    @include breakpoint(phone) {
        position: absolute;
        top: 93px;
        left: 0;
        width: 100%;
        z-index: 20;
        float: none;
        text-align: center;
        padding-top: 20px;
        border-bottom: 1px solid $black;
        display: none;
        background-color: $silver;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(phone) {
        padding: 20px 40px;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.nav__list-item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    position: relative;

    @include breakpoint(phone) {
        display: block;
        margin: 0 0 30px 0;
    }
}

.nav__margin {
    margin: 0 34px;

    @include breakpoint(phone) {
        margin: 0 0 30px 0;
    }
}

.nav__margin-left {
    margin-left: 34px;

    @include breakpoint(phone) {
        margin: 0 0 30px 0;
    }
}

.nav__margin-right {
    margin-right: 34px;

    @include breakpoint(phone) {
        margin: 0 0 30px 0;
    }
}

.nav__list-link {
    text-decoration: none;
    color: $bunker-mid-light;

    &:hover {
        color: $bunker;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            border: 1px solid $tacao;
        }
    }
}