@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist.woff2') format('woff2'),
        url('../fonts/Geomanist.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joane';
    src: url('../fonts/Joane-Light.woff2') format('woff2'),
        url('../fonts/Joane-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Joane';
    src: url('../fonts/Joane-Regular.woff2') format('woff2'),
        url('../fonts/Joane-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joane';
    src: url('../fonts/Joane-SemiBold.woff2') format('woff2'),
        url('../fonts/Joane-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joane';
    src: url('../fonts/Joane-Bold.woff2') format('woff2'),
        url('../fonts/Joane-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Joane';
    src: url('../fonts/Joane-Black.woff2') format('woff2'),
        url('../fonts/Joane-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}