.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

%bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}