body {
    font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
}

.h1,
h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
}

.h2,
h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    position: relative;
    color: $bunker;
}

.title-line {
    width: 100px;
    height: 0;
    border: 1px solid $bunker;
    display: inline-block;
    transform: translateY(-18px);
    margin-right: 16px;

    @include breakpoint(phone) {
        width: 50px;
        transform: translateY(-10px);
        margin-right: 16px;
    }
}

.title-line-test {
    width: 109px;
    margin-right: 10px;

    @include breakpoint(phone) {
        margin-right: 9px;
        width: 50px;
    }
}

.h2--white {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    position: relative;
    color: $white;
}

.title-line--white {
    width: 100px;
    height: 0;
    border: 1px solid $white;
    display: inline-block;
    transform: translateY(-10px);
    padding-right: 20px;

    @include breakpoint(phone) {
        width: 50px;
        transform: translateY(-10px);
        margin-right: 16px;
    }
}

p {
    font-weight: 400;
    font-size: 15.98px;
    line-height: 26px;
    color: $bunker-paragraph;
}

.title-wrap {
    display: inline-block;

    @include breakpoint(phone) {
        display: block;
    }
}