body {
    font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
}

.h1,
h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
}

.h2,
h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    position: relative;
    color: $bunker;

    &::before {
        content: '';
        width: 100px;
        height: 0;
        border: 1px solid $bunker;
        top: 28px;
        left: -121px;
        display: block;
        position: absolute;
    }
}

.h2--white {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    position: relative;
    color: $white;

    &::before {
        content: '';
        width: 100px;
        height: 0;
        border: 1px solid $white;
        top: 28px;
        left: -121px;
        display: block;
        position: absolute;
    }
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $bunker-paragraph;
}