$white: #fff;
$old-lace: #fef9f1;
$old-lace-light: rgba($old-lace, 0.2);
$black: #000;
$black2: #000308;
$tacao: #efb884;
$mondo: #48392d;
$bunker: #11151a;
$bunker-light: rgba(17, 21, 26, 0.1);
$bunker-medium-light: rgba(17, 21, 26, 0.3);
$bunker-mid-light: rgba(17, 21, 26, 0.5);
$bunker-paragraph: rgba(17, 21, 26, 0.7);
$bunker-dark: rgba(17, 21, 26, 0.95);
$grey: rgba(255, 255, 255, 0.7);
$grey-dark: rgba(255, 255, 255, 0.1);
$grey-mid: rgba(255, 255, 255, 0.5);
$cape-cod: #404345;
$shark: #1d2025;
$mine-shaft: #333;
$silver: #c4c4c4;

$font-primary: 'Joane', serif;
$font-secondary: 'Geomanist';