$white: #fff;
$black: #000;
$tacao: #efb884;
$mondo: #48392d;
$bunker: #11151a;
$bunker-light: rgba(17, 21, 26, 0.1);
$bunker-mid-light: rgba(17, 21, 26, 0.5);

$font-primary: 'Joane', serif;
$font-secondary: 'Geomanist';